table {
      border-collapse: collapse;
      margin-top: 20px;
      width: 100%;
    }
    th, td {
      border: 1px solid black;
      padding: 8px;
    }
    th {
      background-color: #eee;
    }

  h1, h3 {
    text-align: center;
  }

body {
    background-image: url("imgs/Background2.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.table {
    background-color: lightgray
}