table {
      border-collapse: collapse;
      margin-top: 20px;
      width: 100%;
    }
    th, td {
      border: 1px solid black;
      padding: 8px;
    }
    th {
      background-color: #eee;
    }