html {
  height: 100%;
  width: 100%;
}
body {
  margin: 0 !important;
  padding: 0 !important;
}
/*Styling for the schedule (list of classes)*/
div:has(table) {
  width: 100%;
  position: absolute;
  top: 50%;
  background-color: #cf1f34;
  color: rgb(8, 8, 66);
  font-weight: bold;
}
table {
  border-collapse: collapse;
  margin-top: 20px;
  margin: 0 !important;
  width: 100%;
}
th,
td {
  border: 1px solid black;
  padding: 8px;
}
/*Styling for the schedule header*/
th {
  background-color: gray;
  color: rgb(8, 8, 66);
  font-weight: bold;
}

/*Styling the title and welcome message*/
h1,
h3 {
  text-align: center;
  color: white
}

/*Background Image....The Image is from the new Frankenstein Movie*/
body {
  background-image: url("imgs/Background2.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.table {
  background-color: lightgray;
}

/*Styling for the dropdown*/
.dropdown {
  background-color: gray;
  font-weight: bold;
  color: rgb(8, 8, 66);
  border-color: black;
  width: 50px;
  height: 50px;

}